<!-- BEGIN close_block -->
<script language="JavaScript">
<!--
   parent.returnValue = 'parse.php?5&{_GROUP_ID}&{ID}&templateID={templateID}';
   parent.close();
// -->
</script>
<!-- END close_block -->
<form method="POST" action="{_LINK_SELF}" name="mainForm">
  <input type="Hidden" name="UserID" value="{UserID}">
  <input type="Hidden" name="RecTime" value="{RecTime}">
  <input type="Hidden" name="LastUpdate" value="{LastUpdate}">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
    <tr> 
      <td> 
        <table width="100%" border="0" id="winhead" cellspacing="0" cellpadding="0" class="captionText">
          <tr valign="middle" align="left"> 
            <td width="20"><img src="files/img/gn_prefer.gif" width="18" height="18"></td>
            <td>##Documents##:</td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="10" cellpadding="0" height="100%" class="bodyWithText">
          <tr> 
            <td> 
              <table width="100%" border="0" class="bodyWithText">
                <tr>
                  <td>##Template##:</td>
                  <td>
                    <select name="templateID" class="inputz">
                      {templateID}
                    </select>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr> 
            <td align="right"> 
              <input type="Submit" name="save" value="##Save##" class="buttonz">
              <input type="Button" value="##Cancel##" onClick="parent.returnValue='';parent.close()" class="buttonz">
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>