<form name="form1" method="post" action="">
  <p>
    <textarea name="Text" cols="130" rows="40">{TEXT}</textarea>
  </p>
  <p> 
    <input type="submit" name="Submit" value="##Save##">
    <input type="reset" name="reset" value="##Cancel##">
    <input type="hidden" name="save" value="1">
  </p>
</form>