<!-- BEGIN close_block -->
<script language="JavaScript">
<!--
   parent.returnValue = 'refresh';
   parent.close();
// -->
</script>
<!-- END close_block -->
<script language="JavaScript">
  var disabledNames = new Array();
  for(var i = 0; i < parent.dialogArguments.length; i++) disabledNames[i] = parent.dialogArguments[i];
  function chckSBMT(){
    var doIt = true;
    for(var i = 0; i < disabledNames.length; i++) {
      if(mainForm.Name.value == disabledNames[i]){
        alert("Name "+mainForm.Name.value+" is already in use....");
        doIt = false;
      }
    }
    if(doIt){
      if(mainForm.Name.value==""){
        alert("Field ##Name## could not be empty...");
        doIt = false;
      }
    }
    if(doIt){
      mainForm.save.value="ok";
      mainForm.submit();
    }
  }
</script>
<form method="POST" action="{_LINK_SELF}" name="mainForm">
<input type="Hidden" name="UserID" value="{UserID}">
<input type="Hidden" name="RoleID" value="{RoleID}">
<input type="Hidden" name="save" value="">
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0" class="caption">
        <tr valign="middle" align="left"> 
          <td width="18"><img src="files/img/gn_access.gif" width="18" height="18"></td>
          <td class="captionText">##Role##</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="10" cellpadding="0" height="100%" class="bodyWithText">
        <tr> 
          <td class="bg_color_light" align="left" valign="middle"> 
            <nobr>##Role## ID:</nobr>
          </td>
          <td class="bg_color_light" align="left" valign="middle"> 
            &nbsp;&nbsp;<b>{RoleID}</b>
          </td>
        </tr>
        <tr> 
          <td class="bg_color_light" align="left" valign="middle"> 
            ##Name##:
          </td>
          <td class="bg_color_light" align="left" valign="middle"> 
            <input type="Text" name="Name" value="{Name}" size="15" maxlength="10" class="inputz">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>
        <table width="100%" border="0" cellspacing="5" cellpadding="0" class="caption">
          <tr> 
            <td align="left"> 
              <input type="Button" name="save1" value="##Save##" class="buttonz" onClick="chckSBMT();">
            </td>
            <td align="right"> 
              <input type="Button" value="##Cancel##" onClick="parent.close()" class="buttonz">
            </td>
          </tr>
        </table>
    </td>
  </tr>
</table>
</form>