<script language=javascript>
<!--
//if("{Nick}"!="Admin"){
if({UserID}!=1){
  for(var i = 0; i < disabledItemsEmpty.length; i++) {
    disabledItemsEmpty[i][disabledItemsEmpty[i].length] = "tools";
    disabledItemsEmpty[i][disabledItemsEmpty[i].length] = "tmpl";
  }
  for(var i = 0; i < disabledItems.length; i++){
    disabledItems[i][disabledItems[i].length] = "tools";
    disabledItems[i][disabledItems[i].length] = "tmpl";
  }
}
// -->
</script>
<table width="100%" border="0" cellspacing="5" cellpadding="0">
   <tr> 
    <td class="caption" width="21%"><img src="files/img/logo.gif"></td>
    <td class="caption" width="79%" valign="bottom" align="right">Logged as: {Nick} [{Name} {SName}]</td>
  </tr>
</table>
