<?xml version = "1.0" encoding="windows-1251" ?>
               <!DOCTYPE nodes [
               <!ELEMENT nodes                 (node+) >
               <!ELEMENT node    (id,title,type,chkbx, frmsID) >
               <!ELEMENT id                  (#PCDATA) >
               <!ELEMENT title               (#PCDATA) >
               <!ELEMENT type                (#PCDATA) >
               <!ELEMENT chkbx               (#PCDATA) >
               <!ELEMENT frmsID              (#PCDATA) >
               ]>
<nodes>
<!-- BEGIN item_block -->
  <node>
     <id>{ID}</id>
     <title>{NAME}</title>
     <type>{TYPE}</type>
     <chkbx>{CHKBX}</chkbx>
     <frmsID>{FRMSID}</frmsID>
  </node>
<!-- END item_block -->
</nodes>