<input type="checkbox" name="_{NAME}_prewew" value="{VALUE}" {CHECKED} onclick="mainForm.elements['{NAME}'].value = mainForm.elements['_{NAME}_prewew'].checked?'{VALUE}':''">
<input type="hidden" name="{NAME}" value="{VALUE}">



