<select name="{FIELD}" class="input">

<!-- BEGIN item_block -->
<option value="{value}">{title}</option>
<!-- END item_block -->

<!-- BEGIN select_block -->
<option value="{value}" selected>{title}</option>
<!-- END select_block -->

</select>




