<!--IFRAME class="input" name="n&%**{FIELD}" id="{FIELD}_id" width="500" height="300" src="files/EditLite/EditLite.htm"></iframe-->
<IFRAME class="input" name="n&%**{FIELD}" id="{FIELD}_id" width="500" height="300" src="files/Edit/builded.htm"></iframe>
<input type="hidden" name="{FIELD}" id="{FIELD}_hidden" value="{{FIELD}}">