<input type=hidden name="Group_document_IN_hide[]" value='{HIDDEN}'>

<!-- BEGIN option_block -->
<input type=checkbox name='Group_document_IN[]' value="{value}">{name}<br>
<!-- END option_block -->

<!-- BEGIN Select_option_block -->
<input type=checkbox checked name='Group_document_IN[]' value="{value}">{name}<br>
<!-- END Select_option_block -->


