<table id=picture_table border="0" cellspacing="0" cellpadding="0">
  <tr id=trpicture0>
    <td width="85" class="list" align="left" valign="top">Picture</td>
    <td class="list" valign="middle" align="left"> 
       <input type="text" name="picture0" size="50" class="input" value="">
    </td>
    <td width="75" align="left"><img src="img/gn_pictures.gif"></td>
    <td width="36" align="right"><img src="img/plus.gif" width="16" height="16" onclick='addIt("picture_table","picture")'></td>
  </tr>
</table>



