<!--- PICTURE  ----->
<table id={FIELD}_table border="0" cellspacing="0" cellpadding="0" width="100%">
  <TR><TD></TD></TR>
</table>
<SCRIPT LANGUAGE="JavaScript">
<!--
  var pictures = new Array(""<!-- BEGIN item_block -->,"{VALUE}"<!-- END item_block -->);
    if(pictures.length==1) addIt("{FIELD}_table", "{FIELD}", 1)
    for(i=1; i<pictures.length; i++){
      addIt("{FIELD}_table", "{FIELD}", pictures.length-1, pictures[i]);
    }
//-->
</SCRIPT>
<!--- PICTURE  ----->





