<select name="{FIELD}" class="input">

<!-- BEGIN option_block -->
<option value="{value}">{value}</option>
<!-- END option_block -->

<!-- BEGIN Select_option_block -->
<option value="{value}" selected>{value}</option>
<!-- END Select_option_block -->

</select>




