<!------------------CALENDAR-START------------------>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr> 
    <td width="120" class="list" align="left" valign="top">{CAPTION}</td>
    <td><input type="text" id="{FIELD}Id" name="{FIELD}" size="15" class="input" value="{{FIELD}}"></td>
    <td><img src="files/img/gn_calendar.gif" id="shcalc" width="18" height="18" onclick='showCalc(window.event,"{FIELD}Id")'></td>
  </tr>
  <tr> 
    <td><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td width="100%"><img src="files/img/!pix.gif" width="1" height="5"></td>
  </tr>
</table>
<!------------------CALENDAR-END-------------------->
