<!------------------CHECKBOX-START------------------>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr> 
    <td width="120" class="list" align="left" valign="top">{CAPTION}</td>
    <td> 
<input type="checkbox" name="_{NAME}_prewew" value="{VALUE}" {CHECKED} onclick="mainForm.elements['{NAME}'].value = mainForm.elements['_{NAME}_prewew'].checked?'{VALUE}':''">
<input type="hidden" name="{NAME}" value="{VALUE}">
    </td>
  </tr>
  <tr> 
    <td><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td width="100%"><img src="files/img/!pix.gif" width="1" height="5"></td>
  </tr>
</table>
<!------------------CHECKBOX-END-------------------->
