<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="120" class="list" align="left" valign="top">{CAPTION}</td>
    <td class="list" valign="middle" align="left"> 
       <input type="text" name="{FIELD}" id="inputID{FIELD}" size="50" class="input" value="{{FIELD}}" style="width:300px;">
    </td>
    <td width="100%" align="left"><img id="imgID{FIELD}" src="files/img/gn_pictures.gif" onclick="ShowUpload2(this)"></td>
  </tr>
  <tr>
    <td width="120"><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td width="100%" colspan=2><img src="files/img/!pix.gif" width="1" height="5"></td>
  </tr>
</table>



