<!------------------RADIO-START------------------>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr valign="middle"> 
    <td width="120" class="list" align="left" valign="top">{NAME}</td>
    <td>
      <table border="0" cellspacing="0" cellpadding="0" width="100%">
<!-- BEGIN option_block -->
  <tr valign="middle"> 
    <td class="list">{CAPTION}</td>
    <td width="100%"><input type="radio" name="{NAME}" value="{VALUE}" {CHECKED}></td>
  </tr>
<!-- END option_block -->
      </table>
    </td>
  </tr>
  <tr> 
    <td><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td width="100%"><img src="files/img/!pix.gif" width="1" height="5"></td>
  </tr>
</table>
<!------------------RADIO-END------------------>


