<!------------------SELECT-START------------------>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr> 
    <td width="120" class="list" align="left" valign="top">{CAPTION}</td>
    <td class="list" valign="middle" align="left"> 
      <select name="{FIELD}" class="input">

<!-- BEGIN option_block -->
<option value="{value}">{value}</option>
<!-- END option_block -->

<!-- BEGIN Select_option_block -->
<option value="{value}" selected>{value}</option>
<!-- END Select_option_block -->

      </select>
    </td>
  </tr>
  <tr> 
    <td><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td><img src="files/img/!pix.gif" width="1" height="5"></td>
  </tr>
</table>
<!------------------SELECT-END-------------------->