<!------------------TEXTAREA-START------------------>
<table border="0" cellspacing="0" cellpadding="0" width="100%">
  <tr align="center" valign="middle"> 
    <td width="120" class="list" align="left" valign="top">{CAPTION}</td>
    <td><textarea class="textareaz" name="{FIELD}" rows="6" cols="80" onClick='javascript:cur="{FIELD}";' style="width: 100%;">{{FIELD}}</textarea></td>
  </tr>
  <tr> 
    <td><img src="files/img/!pix.gif" width="120" height="5"></td>
    <td width="100%"><img src="files/img/!pix.gif" width="1" height="5"></td>
  </tr>
</table>
<!------------------TEXTAREA-END-------------------->