<!-- BEGIN close_block -->
<script language="JavaScript">
<!--
//   window.opener.location.href = 'parse.php?5&{_GROUP_ID}&{_DOC_ID}';
//   parent.close();
// -->
</script>
<!-- END close_block -->
<html>
<head>
<title>GROUPS LINK</title>
<link rel="stylesheet" href="files/tree.css" type="text/css">
<script language="JavaScript">
//var groups = new Array([ "11", "1", "11name"], [ "12", "1", "12name"], ["13", "1", "13name"], ["14", "1", "14name"], ["111", "11", "111name"], ["112", "11", "112name"], ["1121", "112", "1121name"]);
var groups = new Array();
<!-- BEGIN item_block -->
groups[groups.length] = ["{ID}","{PARENTID}","{NAME}","{CHECKED}"];
<!-- END item_block -->
{output}
var ready = new Array();
var notEnd = true;

function foldInit(){
 document.getElementById('n1').style.display='block';
 for(var i = 0; i < groups.length; i++){
   ready[i] = false;
 }
 while(notEnd){
    notEnd = false;
    for(var i = 0; i < groups.length; i++){
      if(!ready[i]){
        if(typeof(document.getElementById('n'+groups[i][1]))=='object'){
          addStr(i);
          ready[i]=true;
          notEnd = true;
          if(groups[i][1]==1) show('n'+groups[i][0]);
          else hide('n'+groups[i][0]);
        }
      }
    }
  }
}
var otstup=10;
function addStr(n){
  var tmp='<!--TREENODES'+ groups[n][1]+'-->';
  var str = ''
  var ot = parseInt(document.getElementById('n'+groups[n][1]).Otstup)+otstup;
  str+= '<div id=n' + groups[n][0] + ' Otstup='+ot+' class="tree"><table id="tab' + groups[n][0] + '" width="100%" border="0" cellspacing="0" cellpadding="0" class=browse><tr>';
  str+= '<td width="'+ot+'"><img src="img/!pix.gif" width="'+ot+'" height="10"></td>';
  str+= '<td width="18"><img id=img'+ groups[n][0] +' src="img/tr_alone.gif" onclick="openIt();return false;" onfocus="if(this.blur)this.blur();" width="18" height="18"></td>';
  str+= '<td width="100%">' + groups[n][2] + '</td>';
  str+= '<td width="10" align="right"><INPUT TYPE="CHECKBOX" value="'+groups[n][0]+'" titlez="'+groups[n][2]+'" NAME="check[' + groups[n][0] + ']" onfocus="if(this.blur)this.blur()"';
  str+= ((groups[n][3] != '') && (typeof(groups[n][3]) != 'undefined'))? ' CHECKED':'';
  str+= '></td>';
  str+= '</tr></table><!--TREENODES'+groups[n][0]+'--></div><!--TREENODES'+groups[n][1]+'-->';
  document.getElementById('n'+groups[n][1]).innerHTML=document.getElementById('n'+groups[n][1]).innerHTML.replace(tmp,str);
  if (groups[n][1]!=1) document.getElementById('img'+groups[n][1]).src = 'img/tr_open.gif';
}
function show(n){
  document.getElementById(n).style.display='block';
}
function hide(n){
  document.getElementById(n).style.display='none';
}
function showhide(n){
  if(n.style.display=='none') show(n.id);//n.style.display='block';
  else hide(n.id);//n.style.display='none';
}

function openIt(){
  var coll = document.getElementById('n'+event.srcElement.id.substr(3)).children;
  if (coll!=null){
    for (i=0; i<coll.length; i++) if(coll[i].tagName=='DIV') showhide(coll[i]);
  }
  x=event.srcElement.src;
  x = x.substr(x.indexOf('img/'));
  if(x=="img/tr_open.gif") event.srcElement.src="img/tr_close.gif";
  else event.srcElement.src="img/tr_open.gif";
}
onload = foldInit;
</script>
</head>

<body bgcolor="#E7EBFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
  <input type="hidden" name="groupId" value="">
  <form name="treeForm1" action="" method="post" target="">
  <input type="hidden" name="save" id="deleteid" value="1">
  <input type="hidden" name="delete" id="deleteid" value="">
  <input type="hidden" name="move" id="moveid" value="">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
    <!--tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="caption" id="winhead">
          <tr valign="middle" align="left"> 
            <td width="20"><img src="img/gn_folder1.gif" width="18" height="18"></td>
            <td><b>GROUPS</b></td>
          </tr>
        </table>
      </td>
    </tr-->
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="10" cellpadding="0" class="bg_color_light">
          <tr> 
            <td> 
              <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                <tr> 
                  <td colspan="2" align="center" valign="middle">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class=browse>
                      <tr> 
                        <td width="18">&nbsp;</td>
                        <td class="caption" align=left>##Groups name##</td>
                      </tr>
                    </table>
                  </td>
                </tr>
                <tr> 
                  <td> 
  <div id="n1" Otstup=0 class="tree"><!--TREENODES1--></div>            
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <!--tr> 
      <td> 
        <table width="100%" border="0" cellspacing="5" cellpadding="0">
          <tr> 
            <td align=right> 
              <input type="submit" name="Save" value="Save" class="input">
            </td>
          </tr>
        </table>
      </td>
    </tr-->
  </table>
  </form>
</body>
</html>