<!-- BEGIN close_block -->
<script language="JavaScript">
<!--
   self.location.href = 'parse.php?4&{_GROUP_ID}&';
// -->
</script>
<!-- END close_block -->
<table width="250" border="0" cellspacing="5" cellpadding="5" align="center" bgcolor="#CCCCCC">
<form action="{_SELF_LINK}" method="post">
<input type="Hidden" name="ID" value="{ID}">
<input type="Hidden" name="LastUpdate" value="{LastUpdate}">
  <tr> 
    <td> 
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr> 
          <td width="52%" bgcolor="#666666"><a href="{ACTION}?5&{_GROUP_ID}&{_DOC_ID}">##Edit##</a></td>
          <td width="44%" bgcolor="#666666"><a href="{ACTION}?6&{_GROUP_ID}&{_DOC_ID}">##Security##</a></td>
          <td width="4%" bgcolor="#CCCCCC">##Options##</td>
        </tr>
      </table>
    </td>
  </tr>
  <tr> 
    <td> 
      <div align="left"> 
        <p>
          <input type="checkbox" name="checkbox2" value="checkbox">
          mail list ????????????</p>
        <p>
          <input type="checkbox" name="searchVisible" value="1" {searchVisible}>
          ##activate_search## <br>
          ##key_words##<br>
          <textarea name="keyWords" rows="4">{keyWords}</textarea>
        </p>
      </div>
    </td>
  </tr>
  <tr> 
    <td> 
      <input type="submit" name="save" value="##Save##">
      <input type="submit" name="delete" value="##Delete##">
<!--      <input type="submit" name="Submit222" value="Preview"> -->
      <input type="submit" name="apply" value="##Apply##">
    </td>
  </tr>
</form>
</table>
