<script language="JavaScript">
<!--
var searchreswin;
function searchres(){
//alert('searchres')
  var urls = 'parse.php?25&&&StartSearch=1&searchstr=';
//  var urls = '25&&&StartSearch=1&searchstr=';
  var dosmth = true;
  if(document.searchform.searchstr.value!='') urls+=document.searchform.searchstr.value;
  else dosmth = false;
  if(document.searchform.radiovalue.value=='') dosmth = false;
  else urls+='&radiobutton='+document.searchform.radiovalue.value;
  if(dosmth){
    searchreswin = window.showModelessDialog(urls,"","dialogHeight: 400px; dialogWidth: 240px; edge: Raised; center: Yes; help: No; resizable: Yes; status: No; dialogHide: Yes; unadorned: Yes; scroll: Yes;");
//    searchreswin = OpenDialog(urls,0,0,240, 400);
//    searchreswin = window.open("parse.php?28&0&0&forms_Nr="+urls,"","");
//    searchreswin = window.open(urls,"","");
  }
}   
function OpenDialog(id,grupid,docid ,width, height){
  var option = "dialogHeight: "+height+"px; dialogWidth: "+width+"px; dialogTop: px; dialogLeft: px; edge: Raised; center: Yes; help: No; resizable: Yes; status: No; dialogHide: Yes; unadorned: Yes; scroll: Yes;"
  return window.showModelessDialog("parse.php?28&"+grupid+"&"+docid+"&forms_Nr="+id,"", option);
}

function showhide(){
//  if(top.leftfs.rows=="87,*"){
  tmpS = top.leftfs.rows.split(',');
  if(parseInt(tmpS[0])>19){
    document.getElementById('showhidepic').src="img/gn_maximise.gif";
    top.leftfs.rows="19,*";
  } else {
    document.getElementById('showhidepic').src="img/gn_minimise.gif";
    top.leftfs.rows="87,*";
  }
}

function doncl(){                                                    
if(typeof(top.leftFrame.document.all.winhead)=='object') top.leftFrame.document.all.winhead.className = 'caption';
if(typeof(top.rightFrame.document.all.winhead)=='object') top.rightFrame.document.all.winhead.className = 'caption';
if(typeof(document.all.winhead)=='object') document.all.winhead.className = 'mainSelected';
}
document.onclick=doncl;
// -->
</script>
<link rel="stylesheet" href="files/norm_window.css" type="text/css">

<form action="" name="searchform" target="" method="" onsubmit="searchres();return false;">
  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="0" id="winhead" cellpadding="0" class="caption">
          <tr valign="middle" align="left"> 
            <td width="18"><img src="img/gn_search.gif" width="18" height="18"></td>
            <td class="captionText">##SEARCH##</td>
            <td width="19"><img src="img/gn_minimise.gif" id="showhidepic" onclick="showhide();"></td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td> 
        <table width="100%" border="0" cellspacing="10" cellpadding="0" height="100%" class="body">
          <tr> 
            <td class="bg_color_light" align="center" valign="middle"><nobr> 
              <input type="text" name="searchstr" class="inputz" style="width : 70%;">
              <input type="button" name="StartSearch" value="##search##" class="buttonz" onclick="searchres();" style="width : 50px;">
              </nobr> </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr> 
      <td> 
        <table border="0" cellspacing="2" cellpadding="0" width="100%" class="list">
          <tr> 
            <td width="10"> 
              <input type="radio" name="radiobutton" value="document" class="input_dark" onchange="document.searchform.radiovalue.value='document'" checked>
            </td>
            <td class="captionTextTable">##in Name##</td>
            <td width="10"> 
              <input type="radio" name="radiobutton" value="group" class="input_dark" onchange="document.searchform.radiovalue.value='group'">
              <input type="hidden" name="radiovalue" value="document">
            </td>
            <td class="captionTextTable">##Full Text##</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</form>
