<table width="100%" border="0" cellspacing="5" cellpadding="0">
   <tr> 
    <td class="caption" width="21%"><img src="img/logo.gif"></td>
    <td class="caption" width="79%" valign="bottom" align="right">Logged as: {Nick} [{Name} {SName}]</td>
  </tr>
</table>
