<HTML><HEAD><XML ID="menuXML" SRC="parse.php?22&{GROUPID}"></XML>
<SCRIPT LANGUAGE="JavaScript">
	function doParse(){
		parent.parseXML(menuXML);
	}
</SCRIPT>
</HEAD><BODY onload="doParse();"></BODY></HTML>