<!-- BEGIN close_block -->
<script language="JavaScript">
<!--
//   window.opener.location.href = 'parse.php?13';
//   self.close();
   parent.returnValue = 'refresh';
   parent.close();
// -->
</script>
<!--
<!-- END close_block -->

<html>
<head>
<link rel="stylesheet" href="files/norm_window.css" type="text/css">
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<center>
  <form method="POST" action="{_LINK_SELF}" name="mainForm">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="main">
      <tr> 
        <td> 
          <table width="100%" border="0" id="winhead" cellspacing="0" cellpadding="0" class="captionText">
            <tr valign="middle" align="left"> 
              <td width="20"><img src="img/gn_access.gif" width="18" height="18"></td>
              <td>ADD USER</td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <table width="100%" border="0" cellspacing="10" cellpadding="0" height="100%" class="bodyWithText">
            <tr> 
              <td> 
                <table border="0" cellpadding="2" cellspacing="0" width="100%">
                  <tr> 
                    <td class="captionTextTable">User ID:</td>
                    <td class="captionText">{UserID}</td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Login##:</td>
                    <td> 
                      <input type="Text" name="Nick" value="{Nick}" size="15" maxlength="10" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Password##:</td>
                    <td> 
                      <input type="Password" name="Password1" value="{Password}" size="15" maxlength="10" class="inputz" >
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Password##:</td>
                    <td> 
                      <input type="Password" name="Password2" value="{Password}" size="15" maxlength="10" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##First Name##:</td>
                    <td> 
                      <input type="Text" name="Name" value="{Name}" size="15" maxlength="10" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Last Name##:</td>
                    <td> 
                      <input type="Text" name="SName" value="{SName}" size="15" maxlength="10" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Email##:</td>
                    <td> 
                      <input type="Text" name="Email" value="{Email}" size="15" maxlength="20" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Position##:</td>
                    <td> 
                      <input type="Text" name="Position" value="{Position}" size="15" maxlength="20" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Phone##:</td>
                    <td> 
                      <input type="Text" name="Telefon" value="{Telefon}" size="15" maxlength="20" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Fax##:</td>
                    <td> 
                      <input type="Text" name="Fax" value="{Fax}" size="15" maxlength="20" class="inputz">
                    </td>
                  </tr>
                  <tr> 
                    <td class="captionTextTable">##Available##:</td>
                    <td> 
                      <input type="Text" name="Avalible" value="{Avalible}" size="15" maxlength="20" class="inputz">
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr> 
        <td> 
          <table width="100%" border="0" cellspacing="5" cellpadding="0">
            <tr> 
              <td align="right"> 
                <input type="submit" name="save" value="##OK##" class="buttonz">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </form>
</center>
</body>
</html>