%%jsFile%%

##Title##<br>
%%Text:title%%<br>

##Body##<br>
%%TextArea:body%%<br>

##Small Body##<br>
%%TextArea:sbody%%<br>

##Source##<br>
%%TextArea:source%%<br>

##Date##<br>
%%Text:date%%<br>

##Small Picture##<br>
<input type="text" name="picture_small" value="{picture_small}">
<input type="Button" value="##Add##" onClick="openBrowseWin('picture_small')">
<br>

##Large Picture##<br>
<input type="text" name="picture" value="{picture}">
<input type="Button" value="##Add##" onClick="openBrowseWin('picture')">
<br>
