%%jsFile%%

<table width="100%" border="0" cellspacing="10" cellpadding="1" height="100%" class="bg_color_light">
<tr>   
   <td colspan=2 class="caption">%%DocumentInfo%%</td>
</tr>  
<tr>   
   <td width="120" class="list" valign="top">##Name##</td><td width="495">%%Name%%</td>
</tr>  
<tr>   
   <td width="120" class="list" valign="top">##Title##</td><td width="495">%%Text:title%%</td>
</tr>  
<tr>
   <td width="120" class="list" valign="top">##URL##</td><td width="495">%%TextArea:body%%</td>
</tr>
<tr>
   <td width="120" class="list" valign="top">##BODY##</td><td width="495">%%EditLite:body2%%</td>
</tr>
<tr>   
   <td colspan=2 class="caption">
     <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%" class="bg_color_light">
       <tr class="list_light">
         <td width="120" class="searchInput" valign="top">##SEARCH##</td>
         <td width="495" class="searchInput">%%Search%%</td>
       </tr>
     </table>
  </td>
</tr>  
</table>