%%jsFile%%

<table width="100%" border="0" cellspacing="10" cellpadding="1" height="100%" class="bg_color_light">
<tr>   
   <td colspan=2 class="caption">%%DocumentInfo%%</td>
</tr>  
<tr>   
   <td width="120" class="list">##Name##</td><td width="495">%%Name%%</td>
</tr>  
<tr>   
   <td width="120" class="list">##Title##</td><td width="495">%%Text:title%%</td>
</tr>  
<tr>
   <td width="120" class="list">##Body##</td><td width="495">%%TextArea:body%%</td>
</tr>
</table>