<table width="497" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="searchBody" valign="top">
        <B class="searchText">&nbsp;&nbsp;{title}</B>
    </td>
  </tr>
  <tr> 
    <td valign="top">
      <table width="497" border="0" cellspacing="0" cellpadding="10">
        <tr> 
          <td class="bodyText" valign="top">{descr}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
      