<table border="0" cellspacing="0" cellpadding="0" width="800">
  <tr> 
    <td colspan="2" align="right" width="800"><a href="./?100"><img src="img/logo.gif" width="229" height="47" border="0"></a><img src="./img/!pix.gif" width="30" height="1"></td>
  </tr>
  <tr> 
    <td colspan="2" width="800"><img src="./img/top.gif" width="800" height="167"></td>
  </tr>
  <tr> 
    <td valign="top" width="243"><img src="./img/almostop.gif" width="243" height="35"></td>
    <td valign="bottom" align="right" height="50" width="557"> 
      <form name="search" method="post" action="./?104">
        <table width="250" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td width="59"><img src="./img/sLeft.gif" width="59" height="26"></td>
            <td class="searchBody" valign="middle" align="center"><input type="text" name="search" size="20"></td>
            <td width="30"><input type="image" src="./img/sRight.gif" width="30" height="26" border="0"></td>
            <td><img src="./img/!pix.gif" width="30" height="1"></td>
          </tr>
        </table>
      </form>
    </td>
  </tr>
</table>
