    <table width="100%" border="0" cellspacing="0" cellpadding="0" height="100%">
        <TR>
          <TD colSpan=2>
            <table width="100%" border="0" cellspacing="0" cellpadding="5">
              <tr>
                <td><a href="./engine/" target="_blank"><img src="./img/demo_login.gif" width="210" height="26" border="0"></a></td>
              </tr>
            </table>
          </TD>
        </TR>
        <tr> 
          <td height="16" colspan="2"><img src="./img/oTop.gif" width="220" height="16"></td>
        </tr>
        <tr> 
          <td class="searchBody" width="1" valign="top"><img src="./img/!pix.gif" width="1" height="350"></td>
          <td class="searchBody" valign="top" width="217"> 
            <table width="100%" border="0" cellspacing="0" cellpadding="10">

<!-- BEGIN item_block -->
              <tr> 
                <td class="searchText"><a href="./?101&0&{ID}"><b>{title}</b></a><br>
                  {sdescr}</td>
              </tr>
<!-- END item_block -->

            </table>
          </td>
        </tr>
        <tr> 
          <td height="38" colspan="2"><img src="./img/oBottom.gif" width="220" height="38"></td>
        </tr>
      </table>
    