%%jsFile%%

<table width="100%" border="0" cellspacing="10" cellpadding="1" height="100%" class="bg_color_light">

<tr>   
   <td colspan=2 class="caption">%%DocumentInfo%%</td>
</tr>  
<tr>   
   <td width="120" class="list">##Name##</td><td width="495">%%Name%%</td>
</tr>  

<tr>   
   <td colspan=2>%%PictureEx:pict:1:60%%</td>
</tr>  

<tr>   
   <td width="120" class="list">##Name_rus##</td><td width="495">%%Text:title%%</td>
</tr>  

<tr>
   <td width="120" class="list">##RADIO##</td><td width="495">%%Radio:rbutton:11:checked%%</td>
</tr>

<tr>   
   <td width="120" class="list">##Checkbox##</td><td width="495">%%CheckBox:chckbx_test:test_val%%</td>
</tr>  

<tr>   
   <td width="120" class="list">##Calendar##</td><td width="495">%%Calendar:calendar%%</td>
</tr> 

<tr>   
   <td width="120" class="list">##Calendar##</td><td width="495">%%Calendar:calendar123%%</td>
</tr> 


<tr>   
   <td width="120" class="list"><nobr>##See Also groups##:</nobr></td><td width="495">%%GroupeIn:1054%%</td>
</tr> 


<tr>   
   <td width="120" class="list">##Sex##:</td><td width="495">%%GroupeInRadio:2054%%</td>
</tr> 

<tr>   
   <td width="120" class="list">##Height##</td><td width="495">%%select:height:160-161%%</td>
</tr> 

<tr>   
   <td width="120" class="list">##Shoe##</td><td width="495">%%select:shoe:34-47%%</td>
</tr> 

<tr>   
   <td colspan=2 class="list"><input type=checkbox name="resize" checked value"go"> ##Auto resize ?##</td>
</tr> 

<tr>   
   <td width="120" class="list">##Agency##</td>
   <td width="495">%%select:agency:Natalie Models:Vacatio:Modilinos:Baltic Models:Terri:Aija%%</td>
</tr> 

</table>