%%jsFile%%

##Question##<br>
%%TextArea:title%%<br>

##Variant1##<br>
%%Text:q1%%<br>

##Variant2##<br>
%%Text:q2%%<br>

##Variant3##<br>
%%Text:q3%%<br>

##Variant4##<br>
%%Text:q4%%<br>

