<table width="497" border="0" cellspacing="0" cellpadding="0">
  <tr> 
    <td class="searchBody" valign="top">
        <B class="searchText">&nbsp;&nbsp;Products</B>
    </td>
  </tr>
  <tr> 
    <td valign="top">
      <table width="497" border="0" cellspacing="0" cellpadding="10">
<!-- BEGIN item_block -->
        <tr> 
          <td class="bodyText" width="100"><img src=".{picture}" width="100" height="90"></td>
          <td class="bodyText" valign="top"><a href="./?102&0&{ID}"><b>{title}</b></a><br>{sdescr}</td>
        </tr>
<!-- END item_block -->
      </table>
    </td>
  </tr>
</table>
      