<table width="497" border="0" cellspacing="0" cellpadding="3">
  <tr> 
    <td class="searchBody" valign="top" colspan="2">
        <SPAN class="searchText">&nbsp;&nbsp;Your keyword  <B>"{SEARCH_KEYWORD}"</B> matches {SEARCH_COUNT} documents.</SPAN>
    </td>
  </tr>

<!-- BEGIN group_search_block -->
  <tr>
    <td class="bodyText" width="40"><img src="img/!pix.gif" width="40" height="1"></td>
    <td class="bodyText" width="457"><B>{GROUP_NAME}</B></td>
  </tr>
<!-- BEGIN search_block -->
  <tr>
    <td class="bodyText" valign="top">&nbsp;</td>
    <td class="bodyText" valign="top" width="457">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<A href="{SEARCH_URL}">{title}</A></td>
  </tr>
<!-- END search_block -->
<!-- END group_search_block -->

</table>
      
