<FORM action="{LINK}" encType=multipart/form-data method=post name=speak>
<INPUT name=email type=hidden value="max@esoft.lv">
<INPUT name=send type=hidden value="Send!">
  <TABLE cellPadding=0 cellSpacing=0 width=497 border="0">
    <TR> 
      <TD colSpan=4 align="center" valign="top"><IMG height=23 src="img/gTop.gif" width=497></TD>
    </TR>
    <TR> 
      <TD align=left rowSpan=2 valign="bottom" class="speakBody"><IMG height=115 src="img/gLeft.gif" width=15></TD>
      <TD class=speakBody vAlign=top><B class=searchText>Name:</B></TD>
      <TD align=right class=speakBody><INPUT class=inputText name=name size=26></TD>
      <TD align=right rowSpan=2 valign="bottom" class="speakBody"><INPUT border=0 height=116 src="img/gRight.gif" width=33 type=image></TD>
    </TR>
    <TR> 
      <TD class=speakBody vAlign=top width="89"><B class=searchText>Comment:</B></TD>
      <TD align=right class=speakBody width=379><TEXTAREA class=inputText cols=25 name=feedback rows=4></TEXTAREA></TD>
    </TR>
  </TABLE>
</FORM>