<script language="javaScript">
<!--
 function openBrowseWin(field) {
    var url     = "parse.php?11&&&fl=" + field;
    var name    = "browseWin";
    var feature = "status=yes, height=550, width=500, top=30, left=30, ,resizable=yes, scrollbars=yes";
    open(url, name, feature);
 }
//-->
</script>

##Title##<br>
<input type="text" name="title" value="{title}"><br>
##Total##<br>
<input type="text" name="s1" value="{s1}"><br>
##Day##<br>
<input type="text" name="s2" value="{s2}"><br>
##sfg##<br>
<input type="text" name="s3" value="{s3}"><br>
##asdfas##<br>
<input type="text" name="s4" value="{s4}"><br>
##asdfas##<br>
<input type="text" name="s5" value="{s5}"><br>

