<html>
<head>
<title>KRAZYHOUSE * BAR</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link rel="stylesheet" href="files/crazy.css" type="text/css">
</head>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
 {HEAD}
<table width="800" border="0" cellspacing="0" cellpadding="10">
  <tr>
    <td valign="top" align="right">&nbsp;</td>
    <td width="220" valign="top" align="right"> 
      {HOTNEWS}
    </td>
    <td align="left" valign="top"> 
     <table width="100%" height="100%" border="0" cellspacing="0" cellpadding="10">
      <tr>
       <td>{PRODUCTS}</td>
      </tr>
      <tr>
       <td>{SPEAKUP}</td>
      </tr>
      <tr>
       <td height="100%" valign="bottom">
        <span class="bodyText">This web site is for promotional purposes only to show the functionality of OpenEffect.</span>
       </td>
      </tr>
     </table>
    </td>
  </tr>
</table>
</body>
</html>
