TABLE.browse TD{
        BORDER-BOTTOM: #B7C9FF 1px solid ;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #003366;
        vertical-align : middle;        
}


TABLE.main {
        border: 1px solid #7375BF;
        background-color : #B7C9FF;
}

TABLE.mainSelected {
        border: 1px solid #7375BF;
        background-color : #7375BF;
}

.bg_color_light {
        background-color: #E1E9FF
}

.caption {
        color: #000000;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 11px;
        font-weight: bold
}

.input {
        font: 12px/12px Verdana, Arial, Helvetica, sans-serif;
        padding-top: 1px;
        padding-right: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        background-color: #D2E0FF
}

A:HOVER {
        color : #003366;
        text-decoration : underline;
        font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size : 12px;
}

A{
        color: #003366;
        text-decoration : none;
        font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 12px;
}

A:VISITED {
        color: #004F9D;
        font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
                font-size : 12px;
}

.buttonz {  font-family: Verdana, Arial, Helvetica, sans-serif;  width : 60px;  height : 20px;  font-size : 11px;     ; background-color: #CEDCFF}
.caption_td { color: #000000; font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold;    vertical-align : bottom;  height : 20px;    }
.disabled_text {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #333333; text-decoration: none}
